
{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<style>
  p {
    font-size: 24px;
    line-height: 50px;
    white-space: pre-wrap;
}
</style>
{% endblock stylesheets %}
{% block content %}
<section class="about-area" id="about">
  <div class="text-part">
  {% for viewpost in vp %}
      <h1>{{viewpost.name}}</h1>
      <p class="a">{{viewpost.desc}}</p>
      <div class="date">
      <h6>published on: {{viewpost.created_at}}</h6>
      {% if viewpost.new %}
        <h6>Updated on: {{viewpost.updated_at}}</h6>
      {% endif %}
    </div>
  {% endfor %}    
  </div>
</section>





{% endblock content %}